<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>一拇指分发系统</title>
</head>
<body>
    <nav>
        <a href="/">首页</a>
        <a href="/login">登录</a>
    </nav>
    <h2> {{data}} </h2>
    <form action="" method="POST">
        <label for="mobile">手机号码:</label>
        <input type="mobile" id="mobile" name="mobile" required><br><br>
        <input type="submit" value="submit">
    </form>
</body>
</html>